@font-face {
	font-family: 'AktivGrotesk';
	src: url(aktiv-grotesk/AktivGrotesk_Std_Rg.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AktivGrotesk';
	src: url(aktiv-grotesk/AktivGrotesk_Std_Bd.ttf) format('truetype');
	font-weight: bold;
	font-style: normal;
}