body{
    font-family: 
        "ThreeSix 10",
        Arial,
        sans-serif;
}

main{
    position: fixed; 
    left: 0;
    top: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    background-size: contain;    
    background-position: right top;
/*    background-repeat: no-repeat;*/
    background-image: url(http://placehold.it/700x200);
    
    z-index: -1;
    background-color: #444;
}
main .color-layer{
    background-color: rgba(0, 153, 202,0.8);
    position: fixed; 
    left: 0;
    top: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
}
main .tweet-image{
    position: absolute;
    width:100%;
    height:auto;
    right:0;
}

article{
    background-color: rgba(0,0,0,0.95);
/*    article size and max size is set in script*/
    position: absolute;
    top:10%;
    left:20%;
}

article.portrait{
    max-width: 33%;
    padding: 2vw;
}
article.landscape{
    max-width: 26%;  
    padding: 1vw;
}

article p{
    margin:0;
}

.tweet{
    color: #fff;
    line-height: 1.3;
}
.portrait .tweet{
    font-size: 3vw;
    margin: 0 0 4vw 0;
}
.landscape .tweet{
    font-size: 1.8vw;
    margin: 0 0 2vw 0;
}


.hashtag{
    background:transparent;
    color:#00ccff;
}
.user{
    background:transparent;
    color:#00ccff;
}

.portrait .metadata{
    line-height: 2.7vw;
    font-size: 2.5vw;
}
.landscape .metadata{
    font-size: 1.3vw;
    line-height: 1.5vw;
}

.portrait .metadata img{
    height: 8vw;
    width: 8vw;
    float:left;
    margin: 0 2vw 0 0;
}

.landscape .metadata img{
    height: 4vw;
    width: 4vw;
    margin: 0 1vw 0 0;
}
.metadata .name{
    color:#00ccff ;
}
.metadata .screen-name{
    font-family: "ThreeSix 10 ExtraLight";
    color:#00ccff ;
}
.metadata .tweet-type{
    font-family: "ThreeSix 10 ExtraLight";
    color:#fff;
}
.metadata .timestamp{
    font-family: "ThreeSix 10 ExtraLight";
    color:#fff;
}

.debug{
    display: none;
}