article{
    width: 26%;  
    padding: 1vw;
}

.tweet{
    font-size: 1.8vw;
    margin: 0 0 2vw 0;
    line-height: 1.3;
}

.metadata{
    font-size: 1.3vw;
    line-height: 1.5vw;
}
.metadata img{
    height: 4vw;
    width: 4vw;
    margin: 0 1vw 0 0;
}
