body{
    font-family: 
        "ThreeSix 10",
        Arial,
        sans-serif;
    margin:0;
}

main{
    position: fixed; 
    left: 0;
    top: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    background-size: contain;
    background-position: right top;
/*    background-repeat: no-repeat;*/
    background-image: url(http://placehold.it/700x200);
    z-index: -1;
}
main .color-layer{
    background-color: rgba(0, 153, 202,0.8);
    position: fixed; 
    left: 0;
    top: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
}
main .tweet-image{
    position: absolute;
    width:100%;
    height:auto;
    right:0;
    background-color: #444;
}

article{
    background-color: rgba(0,0,0,0.95);
    max-width: 66%;     /* article size and max size is set in script.js */
    margin-left:-33%;   /* this + left:50% will centre the element */
    box-sizing: border-box;
    padding: 2vw;
    position: absolute;
    top:30%;
    left:50%;
}

article p{
    margin:0;
}

.tweet{
    color: #fff;
    font-size: 3vw;
    line-height: 1;
    margin: 0 0 2vw 0;
}

.hashtag{
    background:transparent;
    color:#00ccff ;
}
.user{
    background:transparent;
    color:#ff1694;
}

.metadata{
    font-size: 2vw;
    color:#eee;
    line-height: 2vw;
}
.metadata .profile-image{
    width: 6vw;
    float:left;
    margin: 0 2vw 0 0;
}
.metadata .name{
    color:#00ccff
}
.metadata .screen-name{
}
.metadata .tweet-type{
}
.metadata .timestamp{
}

.debug{
    display: none;
}