body{
    font-family: 
       Arial,
       sans-serif;

}

main{
    position: fixed; 
    left: 0;
    top: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    background-size: contain;
    background-position: center;
    z-index: -1;
    background-color: #f2f2f2;
}

article{
    background-color: rgba(255,255,255,0.95);
    width:80%;
    padding:5px;
    position: absolute;
    top:50%;
/*    left:50%;*/
}

section p{
    margin:0;
}

.tweet{
    color:#111;
    font-size: 2em;
}

.author{
    font-size: 1em;
    line-height: 48px;
}

.author img{
    width: 48px;
    float:left;
    margin: 0 20px 0 0;
}

.author .screen-name{
    padding: 0 0 0 20px;
    color:#666;
}

.timestamp{
    color:#666;
    font-size: 1em;
}